<div app-navbar-component (startDrive)="startDrive()"></div>
<table class="tasks-table">
  <thead>
  <tr>
    <th>Автомобиль</th>
    <th>Номер автомобиля</th>
    <th>Тариф</th>
    <th>Дата начала поездки</th>
    <th>Пройденное расстояние/время</th>
    <th>Статус</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
    @if (drives$ | async; as drives){
      @for (drive of drives; track drive.driveId){
        <tr app-drive-component
            [drive]="drive"
            [showEndRental]="false"
            [showTotalAmount]="false"
            [showDeleteButton]="false"
            [showAdminInfo]="false"
            (cancel)="cancelDrive($event)"
            (complete)="completeDrive($event)"
            (payment)="paymentDrive($event)">
        </tr>
      }
    }
  </tbody>
</table>
@if (drives$ | async; as drives){
  @if (drives.length == 0) {
    <div class="alert alert-error">
      У вас нет активных поездок
    </div>
  }
}
@if (errorMessage) {
  <div class="alert alert-error">
    {{ errorMessage }}
    <button type="button" class="alert-close" (click)="errorMessage = ''">×</button>
  </div>
}

