<td class="td">
  @if (isEdit) {
    <input
      type="text"
      class="form-control"
      [(ngModel)]="tariff.name">
    @if (isRequired(tariff.name)) {
      <div class="validation-error">Поле обязательно</div>
    }
  }
  @if (!isEdit) {
    {{ tariff.name }}
  }
</td>
<td class="td">
  @if (isEdit) {
    <input
      type="text"
      class="form-control"
      [(ngModel)]="tariff.price"
      mask="0000000">
    @if (isRequired(tariff.price)) {
      <div class="validation-error">Поле обязательно</div>
    }

  }
  @if (!isEdit) {
    {{ tariff.price }}
  }
</td>
<td class="td">
  @if (isEdit) {
    <select
      id="taskStatus"
      class="form-control"
      [(ngModel)]="tariff.tariffType">
      @for (method of methods; track method.value) {
        <option [ngValue]="method.value">
          {{ method.label }}
        </option>
      }
    </select>
  }
  @if (!isEdit) {
    <span class="status" [attr.data-status]="[`${ tariff.tariffType }`]"></span>
  }
</td>
<td class="td">
  <div class="actions">
    @if (!isEdit) {
      <button class="edit-btn" (click)="onEdit()">Редактировать</button>
      <button class="delete-btn" (click)="onDelete()">Удалить тариф</button>
    } @else {
      <button class="edit-btn" (click)="onUpdate()" [disabled]="isValid(tariff)">Обновить</button>
      <button class="delete-btn" (click)="onCancel()">Отменить</button>
    }
  </div>
</td>
