<td class="td">
  @if (isEdit) {
    <input
      type="text"
      class="form-control"
      [(ngModel)]="car.carBrand">
    @if (isRequired(car.carBrand)) {
      <div class="validation-error">Поле обязательно</div>
    }
  }
  @if (!isEdit) {
    {{ car.carBrand }}
  }
</td>
<td class="td">
  @if (isEdit) {
    <input
      type="text"
      class="form-control"
      [(ngModel)]="car.carModel">
    @if (isRequired(car.carModel)) {
      <div class="validation-error">Поле обязательно</div>
    }
  }
  @if (!isEdit) {
    {{ car.carModel }}
  }
</td>
<td class="td">
  @if (isEdit) {
    <input
      type="text"
      class="form-control"
      [(ngModel)]="car.carRegistrationNumber"
      [patterns]="customPatterns"
      mask="X000XX000"
      placeholder="A000AA000">
    @if (isRegNumber(car.carRegistrationNumber)) {
      <div class="validation-error">Введите номер полностью!</div>
    }
  }
  @if (!isEdit) {
    {{ car.carRegistrationNumber }}
  }
</td>
<td class="td">
  @if (isEdit) {
    <input
      type="text"
      class="form-control"
      [(ngModel)]="car.year"
      mask="000"
      prefix="2"
    [dropSpecialCharacters]="false">
    <div class="validation-error">{{isYear(car.year)}}</div>
  }
  @if (!isEdit) {
    {{ car.year }}
  }
</td>
<td class="td">
  <span class="status" [attr.data-status]="[`${car.carStatus}`]"></span>
</td>
<td class="td">
  <div class="actions">
    @if (car.carStatus == "FREE") {
      @if (!isEdit) {
        <button class="edit-btn" (click)="onEdit()">Редактировать</button>
        <button class="delete-btn" (click)="onDelete()">Удалить авто</button>
      } @else {
        <button class="edit-btn" (click)="onUpdate()"
                [disabled]="isValid(car)">Обновить
        </button>
        <button class="delete-btn" (click)="onCancel()">Отменить</button>
      }

    }
  </div>
</td>




